h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px;  
    font-size: 30px;
    border-color: #cccccc;
    width: 25%;
    float: left;
    font-weight: bold;
}

h2 {
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

body {
    background-image: url(../images/what-the-hex.png);
}

header {
    position: static;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 14px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

div {
    width: 960px;
    margin: auto;
}

.section {
    width: 100%;
    max-width: 960px;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 30px;
}

.bar {
    width: 95%;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 20px;
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
    border-bottom: #777777;
    padding: 20px;
    text-align: right;
}

li {
    display: inline;
    border-right: 1px solid #dddddd;
}

a {
    color: #777777;
    text-decoration: none;
    padding: 15px;
}

p {
    color: #777777;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   line-height: 2;
   margin: 20px;
}

img {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
}
    
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4aaaa5;
    height: 80px;
}

footer {
    position: absolute;
    background-color: #666666;
    text-align: center;
    font-size: 14px;
    color: #ffffff; 
    bottom: 0;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 10px;
}

br {
    margin: 20px;
}

form {
    margin: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

label {
    font-size: 18px;    
}

input {
    width: 95%;
    box-sizing: border-box;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

textarea {
    height: 200px;
    width: 95%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

button {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px;
    margin-left: 0px;
    height: 40px;
    width: 100px;
    border: none;
}

.container {
    position: relative;
}

/* Setting up Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 40px;
}

/* Setting up Portfolio page */

.port {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 40px 25px;
}

  .port h3 {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 84%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

 .port img {
    float: left;
    margin-right: 20px; 
    height: 160px; 
    width: 260px;
}

/* Beginning of Media Queries */

@media only screen and (max-width: 640px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-5 {width: 85%;}
    div {
        width: 100%;
    }
    header {
        float: none;
        height: 130px;
    }
    h1 {
        width: 93%;
        text-align: center;
        float: none;
    }
    nav {
        padding: 10px;
    }
    ul {
        margin-right: 130px; 
    }
    .port img {
        margin-left: 60px;
        width: 400px;
        height: 320px;
        max-width: 100%;
        height: auto;
    }
    .port h3 {
        font-size: 20px;
        margin-left: 40px;
        width: 244px;
    }
}

 @media only screen and (min-width: 641px) {
    /* For mobile phones: */
    .col-xs-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 87%;}
    .col-s-11 {width: 91.66%;}
    h3 {font-size: 20px;}
    div {width: 100%;}
    h1 {margin-left: 20px;
        width: 270px;}
    ul {text-align: center;}
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 87%;}
    .col-s-9 {width: 75%;}
    h3 {font-size: 20px;}
}

@media only screen and (min-width: 980px) {
    /* For desktop: */
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    h3 {font-size: 20px;}
    ul {text-align: right;}
} 
